doctype html
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
title
//- link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
style.
    body {
        font-family: sans-serif;
        margin-top: 30px;
    }
    h1 {
        border-bottom: 1px solid silver;
    }

body
    .container
        //- h1 Sample Settings Panel
        #settings-panel
            script(src='settings-panel.js')
            script.
                var data =
                SettingsPanel.init(
                    document.getElementById('settings-panel'),
                    {
                        settingsUrl: 'http://local.clc.stackoverflow.com/admin/settings/json',
                        clearUrl: 'http://local.clc.stackoverflow.com/admin/settings/clear-override',
                        setUrl: 'http://local.clc.stackoverflow.com/admin/settings/set-override',
                        copySettingsUrl: 'http://local.clc.stackoverflow.com/admin/settings/copy-settings',
                        currentRedisConnection: 'localhost:6385'
                    }
                );

                window.store = data.store;
