* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.container {
  width: 1170px;
  margin: auto;
}

body {
  font-family: "Helvetica Neue", "Liberation Sans", sans-serif;
}

/* Some basic styles for the settings panel */

.settings-search {
  position: relative;
  margin-bottom: .5em;
}

.settings-search .addon {
  position: absolute;
  top: 6px;
  left: 5px;
}

.settings-search input {
  border: 1px solid #ddd;
  padding-left: 20px;
  display: block;
  width: 100%;
}

.setting-group {
  border: 1px solid #ddd;
  padding: 0 1em 1em;
}

.setting {
  padding: .5em;
  display: -webkit-flex;
  display: flex;

  border-top: 1px solid #ddd;
}


.setting .name, .setting .value {
  width: 50%;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.setting.overridden {
  background-color: #D5EDFF;
}

.setting .name p ,
.setting .value pre {
  margin: 0;
}

.setting .value p.overridden {
  font-size: .7em;
  margin: 0;
}

.setting.focused {
  box-shadow: 0 0 5px 2px #8Cf;
}

/* settings editor modal */

.values {
  display: -webkit-flex;
  display: flex;
}

.values {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1em;
}

.values .override,
.values .default {
  width: 50%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 5px;
}

.values .active {
  background: #d9edf7;
}

.show-details {
  border-top: 1px solid #eee;
}

.newoverride .spaced label.btn {
  margin: 0 3px;
}

.newoverride label.btn input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

.details {
  display: -webkit-flex;
  display: flex;
}

.details .overrides, .details .defaults {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 50%;

}

.details table {
  width: 100%;
}

textarea.quick-editor {
  width: 100%;
  display: block;
}

/* Fix some things with React Modal */

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 10000;
}

.ReactModal__Content {
  bottom: auto !important;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}


@media screen and (max-height: 800px) {

  .ReactModal__Content {
    top: 0;
  }

}

@media screen and (max-height: 600px) {
  .ReactModal__Content {
    bottom: 0px !important;
  }
}
