* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.container {
  width: 1170px;
  margin: auto;
}

body {
  font-family: "Liberation Sans";
}


.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 10000;
}

.ReactModal__Content {
  bottom: auto !important;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}


